.ion-item-fallback :nth-child(2) {
    width:100%!important;
    /*background-color:red!important;*/

}

.ion-item-fallback {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ion-item {
    left: 0px!important;
    /*top: 0px!important;*/
}